@keyframes scrolling {
	from { transform: translate(0px, 0px); }
	to { transform: translate(64px, 64px); }
}
		
@font-face {
	font-family: "Janyk";
	src: url("./res/Janyk.ttf") format("truetype"); 
}
		
body {
	margin: 0;

	-ms-overflow-style: none;
	scrollbar-width: none;
}

::-webkit-scrollbar {
	display: none;
}

.scroll-bg {
	position: fixed;
	z-index: -999;
  
	top: -64px;
	left: -64px;
	width: calc(100vw + 64px);
	height: calc(100vh + 64px);
  
	background-image: url("./res/web-space.png");
	background-size: 64px;
	animation: scrolling 2s linear 0s infinite;
}

header {
	height: 100vh;
	
	display: flex;
	flex-flow: column;
	justify-content: center;
	align-items: center;
}

svg {
	font-family: "Janyk";
	viewbox: 0 0 10 10;
}
